[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "~=9.3.0"

[dev-packages]
ansible-lint = "~=24.2.1"
molecule = "~=24.2.1"
molecule-plugins = {extras = ["podman"], version = "~=23.5.3"}
yamllint = "~=1.35.1"

[requires]
python_version = "3.11"
