---

- when: ansible_distribution | lower == 'centos'
  block:

    - name: Install | Install EPEL repo
      yum:
        name: epel-release
        state: present

    - name: Install | Add Zammad yum repository
      yum_repository:
        name: zammad
        state: present
        description: Repository for zammad/zammad ({{ zammad_release_channel }}) packages.
        baseurl: https://dl.packager.io/srv/rpm/zammad/zammad/{{ zammad_release_channel }}/el/7/$basearch
        enabled: yes
        gpgcheck: no
        repo_gpgcheck: yes
        gpgkey: https://dl.packager.io/srv/zammad/zammad/key
        mode: 0644

- when: ansible_distribution | lower == 'ubuntu'
  block:

    - name: Install | Add Zammad apt key
      apt_key:
        url: https://dl.packager.io/srv/zammad/zammad/key
        state: present

    - name: Install | Add Zammad DEB repository
      apt_repository:
        repo: deb https://dl.packager.io/srv/deb/zammad/zammad/{{ zammad_release_channel }}/ubuntu {{ ansible_distribution_version }} main
        state: present
        filename: zammad
        update_cache: yes
        mode: 0644

- name: Install | Install Zammad package
  package:
    name: zammad={{ zammad_version }}*
    state: present
    force: yes
  notify:
    - Set Elasticsearch server address
    - Build search index

- name: Install | Start and enable services
  service:
    name: "{{ item }}"
    state: started
    enabled: yes
  loop:
    - zammad
    - zammad-web
    - zammad-worker
    - zammad-websocket
  notify: Build search index

...
